.wrapper {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"sidebar header header"
	"sidebar articles articles"
    "sidebar articles articles"
    "sidebar articles articles"
	"footer footer footer";
	margin:2%;
	grid-gap: 25px;
}

.Header {
    background-color:lightgrey;
    


}
.header,li {
    list-style: none;
    font-size: 1.5em;
  font-family: Baskerville Old Face; 
  padding: 1em;
    border: 1px solid silver;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 2px 5px 5px grey;
  }
  
  .header, li:before {
    content: '✓'; 
  padding: 1em;
  }
  
  a:hover {background-color: silver;  }
.articles {
    background-color:lightsalmon;
    
}

.Aside {
    background-color:lightseagreen;
    


}

.footer {
    background-color:lightsteelblue;
    

}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}